[mysqld]
sql_mode = NO_ENGINE_SUBSTITUTION
character-set-server = utf8
collation-server = utf8_unicode_ci
default_authentication_plugin = mysql_native_password
skip-name-resolve

[client]
default-character-set = utf8

[mysql]
default-character-set = utf8
